<div class="container">
  <div class="row">

    <%= render 'left', user: @book.user, book: @new_book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path, class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), class: 'btn btn-sm btn-danger',  method: :delete, "data-confirm" => "本当に削除しますか？"%>
              <% end %>
            </td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <span style="color:red;">♥</span><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <span style="color:blue;">♥</span><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td>
              <p>コメント数：<%= @book.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <% @book.book_comments.each do |book_comment| %>
          <tr>
            <td>
                <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
                <%= link_to book_path(@book.id) do %>
                  <%= book_comment.user.name %>
                <% end %>
            </td>
            <td>
                <%= book_comment.comment %>
            </td>
            <td>
                <% if book_comment.user == current_user %>
                  <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？"%>
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに", class: 'form-control', size: "20x5" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>

    </div>
  </div>
</div>