.title
  %h2
    = ("#{@another_entry.user.name}さんとのメッセージ")

.container
  .row-8
    - @messages.each do |m|
      - if m.user_id == current_user.id
        .mycomment.px-5
          %p.text-right
            = m.content

      - else
        .fukidasi
          .chatting
            .says.px-5
              %p.text-left
                = m.content

  .row
    .chat-form-box.mx-auto
      = form_for @message do |f|
        .chat-form-group
          = f.text_field :content
          = f.hidden_field :room_id, :value => @room.id
          = f.submit "送信する"