.title
  %h2
    = ("#{@another_entry.user.name}さんとのメッセージ")

- @messages.each do |m|
  - if m.user_id == current_user.id
    .mycomment
      %p
        = m.content

- else
  .fukidasi
    .faceicon
      = image_tag m.user.name
    .chatting
      .says
        %p
          = m.content

.chat-form-box
  = form_for @message do |f|
    .chat-form-group
      = f.text_field :content
      = f.hidden_field :room_id, :value => @room.id
      = f.submit "送信する"